@import '../common';

$yearTileWidth: 83px;
$tileHeight: 300px;

.album-catalog-container {
    @include card;

    .header {
        @include header;

        .branding {
            font-weight: bold;
            display: flex;
        }

        .branding>div:nth-child(1) {
            padding-left: $horizontal-padding;
            background-color: white;
            color: black;
            position: relative;
        }

        .branding>div:nth-child(2) {
            position: relative;
        }

        .branding>div>div {
            font-size: .5em;
            position: absolute;
            bottom: -30px;
            right: 0;
            height: 100%;
        }

        .resizeScreen, .map {
            width: 2em;
            height: 2em;
            cursor: pointer;
        }

        >a {
            width: 2em;
        }

        .map {
            height: 100%;
            width: 100%;
            padding: 0.33em;
        }
    }

    .album-catalog-wrapper {
        .album-catalog {
            flex-flow: wrap;
            display: flex;
        }

        .year-and-album {
            height: $tileHeight;
            flex-grow: 1;
            position: relative;
            display: flex;
        }

        .album {
            width: $tileHeight;
            position: relative;
            flex-grow: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include hover(img);
        }

        .title {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            padding: 15px;
            font-size: 0.6em;
            @include outlineText;
        }

        .year {
            overflow-wrap: break-word;

            div {
                 position: absolute;
                 left: 18px;
                 line-height: $yearTileWidth;
                 @include outlineText;
                 z-index: 1;
            }
        }
    }
}