@import 'common';

.photo-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;

    .carousel, .carousel-inner, .carousel-item {
        height: 100%;
    }

    .background, .photo {
        position: fixed;
        height: 100%;
        width: 100%;
    }

    .background {
        @include filter(blur(10px));
        transform: scale(1.05);
        opacity: 0.85;
    }

    .photo {
        object-fit: contain;
    }

    .caption {
        bottom: 0;
        left: 0;
        padding: $general-padding;
        width: 100%;
        text-align: center;
        @include outlineText;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        bottom: auto;
        margin-top: -1.5em;
        opacity: 1;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 3em;
        width: 3em;
        background-size: 3em;
        filter: drop-shadow(0px 0px 3px #808080);
    }
}