@import 'common';

.album-container {
    @include card;

    .header {
        @include header;

        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
        font-weight: bold;

        >div:nth-child(1) {
            flex-grow: 1;
        }

        >div:nth-child(2) {
            text-align: right;
            cursor:pointer;
        }
    }

    .album-wrapper {
        .thumbnails {
            overflow: hidden;
            background-color: black;

            .chapter {
                display: flex;
                flex-flow: wrap;

                >* {
                    height: 300px;
                    width: 300px;
                }

                .chapter-title {
                    padding: 25px;
                }

                .fp-thumbnail {
                    flex-grow: 1;
                    @include hover;
                }
            }
        }
    }
}
