@import 'common';

.album-container {
    @include card;

    .header {
        @include header;

        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
        font-weight: bold;

        >div:nth-child(1) {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 0;
        }

        .home {
            text-align: right;
            cursor:pointer;
            font-size: 1.1em;
            line-height: 100px;
        }
    }

    .album-wrapper {
        .thumbnails {
            overflow: hidden;
            background-color: black;
            display: flex;
            flex-flow: wrap;

            >* {
                height: 300px;
                width: 300px;
            }

            .chapter-title {
                position: absolute;
                left: 5px;
                top: 5px;
                padding: 15px;
                @include outlineText;
            }

            .fp-thumbnail {
                flex-grow: 1;
                position: relative;
                @include hover;
            }
        }
    }
}
