@import 'common';

.thumbnails {
    overflow: hidden;

    .chapter {
        display: flex;
        flex-flow: wrap;

        >* {
            height: 300px;
            width: 300px;
        }

        .chapter-title {
            padding: 25px;
            background-color: black;
        }

        .fp-thumbnail {
            flex-grow: 1;
            @include hover;
        }
    }
}