@import 'common';

.map-container {
    > a {
        position: absolute;
        right: 0;
        z-index: 1;
        line-height: 2em;
        width: 2em;
        height: 2em;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity $animation-duration;
        &.hidden {
            opacity: 0;
        }
    }

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

    .legend {
        position: absolute;
        bottom: 0;
        margin: $general-padding;

        background-color: white;
        color: black;
        font-size: 0.4em;
        padding: 0.5em;
        line-height: 1.2em;

        &::before {
            content: "Legend";
            text-decoration: underline
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            position: relative;
            list-style: none;
            margin-left: 1.5em;
            &::before {
                content: " ";
                position: absolute;
                left: -1.5em;
                width: 1em;
                height: 1em;
            }
        }

        li.visited::before {
            background-color: green;
        }
        li.want-to-visit::before {
            background-color: yellow;
        }
    }
}

.google-visualization-tooltip {
    height: auto !important;
    margin-left: 25px;
    margin-top: 20px;
}

ul.google-visualization-tooltip-item-list {
    margin: 0;

    li.google-visualization-tooltip-item {
        margin: 0 !important;
        padding: 0 1em !important;
        line-height: 2em;
        height: 100%;
        width: auto !important;
        text-align: center;

        &:first-child {
             display: none;
         }
    }
}