@import '../common';

$visitedColour: #6767e6;
$wantToVisitColour: #fff;

$map-animation-duration: $animation-duration*2;

.map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;

    > a {
        position: absolute;
        right: 0;
        z-index: 1;
        line-height: 2em;
        width: 2em;
        height: 2em;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity $map-animation-duration;
        &.hidden {
            opacity: 0;
        }
    }

    .legend {
        position: absolute;
        bottom: 0;
        margin: $general-padding;

        color: white;
        font-size: 0.4em;
        padding: 0.5em;
        line-height: 1.2em;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            position: relative;
            list-style: none;
            margin-left: 1.5em;
            &::before {
                content: " ";
                position: absolute;
                left: -1.5em;
                width: 1em;
                height: 1em;
            }
        }

        li.visited::before {
            background-color: $visitedColour;
        }
        li.want-to-visit::before {
            background-color: $wantToVisitColour;
        }
    }
}

.google-visualization-tooltip {
    height: auto !important;
    margin-left: 25px;
    margin-top: 20px;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

ul.google-visualization-tooltip-item-list {
    margin: 0;

    li.google-visualization-tooltip-item {
        span {
            @include outlineText;
        }

        margin: 0 !important;
        padding: 0 1em !important;
        line-height: 2em;
        height: 100%;
        width: auto !important;
        text-align: center;

        span {
            font-size: 1.6em !important;
        }

        &:first-child {
             display: none;
         }
    }
}