$header-height: 2em;
$general-padding: 25px;
$horizontal-padding: 25px;
$animation-duration: 0.5s;

@mixin hover($selector) {
    overflow: hidden;
    cursor: pointer;

    #{$selector} {
        transition: transform $animation-duration;
        transform: scale(1);
    }

    &:hover {
        #{$selector} {
            transition: transform $animation-duration;
            transform: scale(1.03);
        }
    }
}

@mixin header {
    height: $header-height;
    line-height: 1.85em;
    width: 100%;
    display: flex;
    background: black;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.5);
    z-index: 99;
}

@mixin card {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: black;

    >div {
        overflow: scroll;
        height: 100%;
    }

    .headroom-wrapper {
        position: relative;
        z-index: 99;
    }
}

@mixin filter($spec) {
    filter: $spec;
    -webkit-filter: $spec;
    -moz-filter: $spec;
    -o-filter: $spec;
    -ms-filter: $spec;
}

@mixin outlineText {
    text-shadow: 1px 1px #808080, -1px 1px #808080, 1px -1px #808080, -1px -1px #808080;
}

.spring {
    flex-grow: 1;
}