$header-height: 2em;

@mixin hover {
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
        transform: scale(1.03);
    }

    &:hover img {
        transition: transform 0.5s;
        transform: scale(1.05);
    }
}

@mixin header {
    height: $header-height;
    width: 100%;
    display: flex;
    background: black;
}