@import 'common';

body {
    height: 100%;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 0.9em;
}

@import './albumCatalog/AlbumCatalog';
@import './album/Album';
@import './photo/Photo';
@import './map/Map';
@import './site/Site';