body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 0.9em;
}

.site {
    position: absolute;
    height: 100%;
    width: 100%;
}

@import 'Menu';

.album-catalog, .album {
    overflow: scroll;
    height: 100%;
}

.album-catalog-container, .album-container {
    height: 100%;
    display: none;
    &.open {
        display: block;
    }
}

.album-catalog-wrapper {
    height: 100%;
    position: relative;

    @import './AlbumCatalog';
}

.album-wrapper {
    top: 0;
    position: relative;
    background-color: white;
    height: 100%;

    @import './Thumbnails';
}