body {
    height: 100%;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 0.9em;
}

.site {
    position: absolute;
    height: 100%;
    width: 100%;
}

@import './albumCatalog/AlbumCatalog';

@import './album/Album';