@import './common';

.headroom-wrapper {
    max-height: $header-height;
}

.site-nav {
    @include header;
    line-height: 1.85em;
}

.branding {
    font-weight: bold;
    display: flex;
}

.branding>div:nth-child(1) {
    padding-left: 25px;
    background-color: white;
    color: black;
    position: relative;
}

.branding>div:nth-child(2) {
    position: relative;
}

.branding>div:nth-child(3) {
    flex-grow: 1;
}

.branding>div>div {
    font-size: .5em;
    position: absolute;
    bottom: -30px;
    right: 0;
    height: 100%;
}

.commands {
    font-size: 0.5em;
    background: black;
    flex-grow: 1;
    text-align: right;
    padding-right: 25px;
    padding-top: 0.65em;

    div {
        line-height: 1.25em;

        a:hover, a, a:visited {
            color: white;
        }
    }
}