.thumbnails {
    height: 0;
    overflow: hidden;

    .chapter {
        display: flex;
        flex-flow: wrap;

        >* {
            height: 300px;
        }

        .chapter-title {
            width: 300px;
            padding: 25px;
        }

        img {
            width: 300px;
            object-fit: cover;
            flex-grow: 1;
        }
    }
}